@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Raleway:wght@400;600;700&display=swap');

:root {
    --background: #E5EAEF;
    --background-nav: #20232a;
    --primary: #61dafb;
    --secondary: #315E93;
    --tertiary: #FBFCFE;
    --white: #FFFFFF;
    --background-body: #102032;
    --text: #FFFFFF;
    --text-light-gray: #aaa;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    scroll-behavior: smooth;
    font-family: "Raleway", sans-serif;
}

body {
    background-color: var(--background);
    font-family: "Raleway", sans-serif;
}


header {
    background-color: var(--background-nav);
    padding: 1rem;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    box-shadow: var(--text-light-gray) 0 0 10px 0;
}

.nav-container {
    width: 100%;
    max-width: 960px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container-branding h1 a {
    text-decoration: none;
    color: var(--tertiary);
    font-size: 1.2rem;
}

.nav-container-branding h2 {
    color: var(--primary);
    margin-top: 5px;
    font-size: 1.1rem;
}

.nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--background-nav);
    width: 100%;
    text-align: center;
    transition: 0.3s;
}

.nav-menu.active {
    left: 0;
}

.nav-item {
    margin: 16px 0;
}

.nav-menu li {
    list-style: none;
}

.nav-menu a {
    color: var(--text-light-gray);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8rem;
}

.nav-menu a:hover {
    color: var(--white);
}

.hamburguer {
    display: block;
    cursor: pointer;
    border: 2px solid gray;
    padding: 0 8px;
    border-radius: 5px;
}

.hamburguer.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburguer.active .bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}

.hamburguer.active .bar:nth-child(3) {
    transform: translateY(-12px) rotate(-45deg);
}

.bar {
    display: block;
    width: 30px;
    height: 3px;
    margin: 8px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--background);
}

#profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 10px 60px 10px;
    background-color: var(--background-body);
    overflow: hidden;
}

.profile-container {
    width: 100%;
    max-width: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

.profile-container-img {
    max-width: 300px;
    padding: 25px;
}

.profile-container-img img {
    width: 100%;
    border-radius: 50%;
    margin-bottom: 5px;
    box-shadow: var(--text-light-gray) 0px 15px 15px -10px;
}

.profile-container h1 {
    text-align: center;
    color: var(--tertiary);
    font-size: 1.1rem;
}

.profile-container span {
    display: block;
    color: var(--primary);
}

#profession-qualification,
#professional-experience {
    padding: 20px 5px;
    width: 100%;
    overflow: hidden;
}

#professional-experience {
    background-color: #4387D8;
}

.profession-qualification-container,
.professional-experience-container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.profession-qualification-container-title,
.professional-experience-container-title {
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    margin-bottom: 15px;
}

.professional-experience-container-title {
    color: var(--tertiary);
}

.container-cards {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.profession-qualification-card,
.professional-experience-card {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    background-color: var(--tertiary);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: #aaa 0 10px 10px 5px;
    margin: 0 5px 15px;
}

.professional-experience-card {
    max-width: 960px;
}

.profession-qualification-brand {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
}

.profession-qualification-brand img {
    max-width: 250px;
}

#logo-abfm {
    width: 160px;
}

.profession-qualification-description {
    padding: 5px 5px 10px;
    height: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.profession-qualification-description div {
    font-size: 0.78rem;
}

.profession-qualification-description h3 {
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
}

.profession-qualification-description h3 span {
    color: var(--secondary);
    font-weight: bolder;
}

.profession-qualification-description h4 {
    text-align: center;
    margin-top: 5px;
    color: var(--text-light-gray);
}

.hsl-abfm {
    display: block;
}

.professional-experience-card {
    position: relative;
    justify-content: space-between;
    box-shadow: 0px 36px 28px -14px rgba(0, 0, 0, 0.2);
    padding: 0 10px;
    height: 250px;
    overflow: hidden;
}

.professional-experience-description {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.professional-experience-card img {
    position: absolute;
    opacity: 0.4;
    top: -10px;
    right: -168px;
    width: 250px;

}

#irt {
    width: 65px;
    top: 3px;
    right: 8px;
}

.professional-experience-description h3 {
    font-size: 14px;
}

.professional-experience-description-text {
    font-size: 12px;
    color: var(--background-body);
    text-align: justify;
}

.professional-experience-description-text span {
    color: var(--secondary);
    font-weight: 900;
}

#Skills {
    width: 100%;
    padding: 20px 5px;
    background-color: var(--background-body);
    color: var(--text);
}

.skills-container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skills-container-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
    padding: 10px;
    overflow: hidden;
    width: 100%;
}

.skills-container-title img {
    width: 80px;
    animation: rotationImage 6s infinite linear;
}

.skills-container-title img:hover {
    animation: rotationImage 2s infinite linear
}

.skills-container-title h3 span {
    display: block;
    font-size: 24px;
    color: var(--primary);

}

.skills-container-card {
    width: 100%;
    padding: 10px;

}

.skills-list li {
    list-style: none;
    margin-left: 15px;
    position: relative;
    margin-bottom: 15px;
}

.skills-list li::before {
    content: '';
    position: absolute;
    left: -20px;
    top: 3px;
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url(../img/radiation.svg);
}

.skills-list-item p {
    text-align: justify;
    font-size: 14px;
}

.skills-list-item p span {
    color: var(--primary);
    font-weight: 700;
}

#Contact {
    padding: 20px 5px;
    width: 100%;
    background-color: #283142;
}

.footer-container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text);
}

.footer-container-title {
    text-align: center;
    margin-bottom: 20px;
}

.footer-container-title h3 {
    font-size: 24px;
    color: var(--primary);
    font-weight: 700;
}

.footer-container-title p {
    font-size: 15px;
    font-weight: 700;
}

#footer-form {
    width: 100%;
    max-width: 500px;
    position: relative;
}

.input-item-group {
    margin-bottom: 20px;
    position: relative;
}

.input-item-group label {
    margin: 5px;
    color: var(--text-light-gray);
    font-size: 12px;
}

.input-item {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: #1b2531;
    border: 1px solid #384459;
    color: var(--text-light-gray);
    resize: none;
    font-size: 14px;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #1b2531 inset;
}

input:-webkit-autofill {
    -webkit-text-fill-color: var(--text-light-gray);
}

.input-item:hover {
    filter: brightness(1.2);
}
.tooltipEmail{
    font-size: 12px;
    margin: 0 5px;
    color: #ff0000;
    font-weight: 700;
    position: absolute;
    display: none;
}
.tooltipEmail.active{
    display: block;
}
.btn-container {
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.btn-forms {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    border-radius: 5px;
    cursor: pointer;
    color: var(--background-nav);
    font-size: 16px;
    font-weight: 700;
}

.btn-forms:hover {
    filter: brightness(1.2);
}

.btn-whats {
    position: absolute;
    right: 10px;
    bottom: 40px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    animation: animaWhats 1s alternate infinite linear;
}

.btn-whats:hover {
    filter: brightness(1.2);
}

.btn-whats img {
    width: 100%;
    z-index: 1;
}

@media (min-width:360px) {
    .nav-container-branding h1 a {
        font-size: 1.4rem;
    }

    .nav-container-branding h2 {
        font-size: 1.2rem;
    }

    .profile-container h1 {
        font-size: 1.3rem;
    }

    .professional-experience-description h3 {
        font-size: 17px;
    }

    .professional-experience-description-text {
        font-size: 14px;
    }
}

@media (min-width:576px) {
    .nav-container-branding h1 a {
        font-size: 1.6rem;
    }

    .nav-container-branding h2 {
        font-size: 1.3rem;
    }

    .profile-container h1 {
        font-size: 1.85rem;
    }

    .profession-qualification-container-title,
    .professional-experience-container-title {
        font-size: 22px;
    }

    .profile-container {
        max-width: 960px;
    }

    .profession-qualification-card {
        flex-direction: row;
        justify-content: space-between;
        max-width: 700px;
        padding: 10px;
    }

    .profession-qualification-brand img {
        max-width: 200px;
    }

    .profession-qualification-description {
        justify-content: space-between;
        margin-top: 10px;
        margin-right: 10px;
    }

    .professional-experience-description h3 {
        font-size: 24px;
    }

    .professional-experience-description-text {
        font-size: 16px;
    }

    .skills-container-title h3 {
        font-size: 20px;
    }

    .skills-container-title h3 span {
        font-size: 34px;
    }

    .skills-container-card {
        padding: 20px;
    }

    .skills-list-item p {
        font-size: 16px;
    }

    .footer-container-title h3 {
        font-size: 30px;
    }

    .footer-container-title p {
        font-size: 18px;
    }

    .input-item-group label {
        font-size: 14px;
    }

    .input-item {
        font-size: 16px;
    }

    .btn-forms {
        height: 40px;
        font-size: 18px;
    }

}

@media (min-width:768px) {
    .profile-container {
        flex-direction: row-reverse;
    }

    .hamburguer {
        display: none;
    }

    .nav-menu {
        position: unset;
        width: auto;
        flex-direction: row;
        gap: 20px;
    }

    .title-container {
        width: 400px;
    }

    #profile {
        padding: 100px 10px 25px 10px;
    }

    .profile-container h1 {
        text-align: left;
        color: var(--tertiary);
        font-size: 2.5rem;
    }

    .profile-container span {
        display: block;
        color: var(--primary);
    }

    .profile-container-img {
        max-width: 400px;
        padding: 0;
    }

    .profile-container-img img {
        border-radius: 20%;
        object-fit: contain;
        width: 100%;
        -webkit-mask-image: linear-gradient(to left, var(--background), transparent);
        mask-image: linear-gradient(to left, var(--background), transparent);
        z-index: -1;
    }

    .profession-qualification-container-title,
    .professional-experience-container-title {
        font-size: 24px;
    }

    .professional-experience-description {
        padding: 20px;
    }

    .professional-experience-description h3 {
        font-size: 24px;
    }

    .professional-experience-description-text {
        font-size: 18px;
    }

    .skills-container-title img {
        width: 100px;
        margin-right: 20px;
    }

    .skills-container-title h3 {
        font-size: 24px;
    }

    .skills-container-title h3 span {
        font-size: 42px;
    }

    .skills-container-card {
        padding: 20px 30px;
    }

    .skills-list-item p {
        font-size: 18px;
    }

    .footer-container-title h3 {
        font-size: 34px;
    }

    .footer-container-title p {
        font-size: 20px;
    }

    .input-item-group label {
        font-size: 16px;
    }

    .input-item {
        font-size: 18px;
    }

    .btn-forms {
        height: 45px;
        font-size: 20px;
    }
}

@media (min-width:992px) {
    .profession-qualification-card {
        width: 100%;
        max-width: 450px;
        margin: 0 auto;
        background-color: var(--tertiary);
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        box-shadow: #aaa 0 10px 10px 5px;
        margin: 0 5px 15px;

    }

    .profession-qualification-brand img {
        max-width: 250px;
    }

    .professional-experience-description h3 {
        font-size: 26px;
    }

    .professional-experience-description-text {
        font-size: 20px;
    }

    .skills-list-item p {
        font-size: 20px;
    }

    .skills-container-title img {
        width: 120px;
        margin-right: 20px;
    }

    .skills-container-title h3 {
        font-size: 30px;
    }

    .skills-container-title h3 span {
        font-size: 50px;
    }

    .skills-container-card {
        padding: 20px 30px;
    }

    .skills-list-item p {
        font-size: 18px;
    }

    #footer-form {
        max-width: 700px;
    }

    .btn-container {
        max-width: 700px;
    }
}

@keyframes rotationImage {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }

}

@keyframes animaWhats {
    0% {
        translate: -5px;
    }

    50% {
        translate: 0;
    }

    100% {
        translate: 5px;
    }
}